/*
 * Copyright (C) 2018 MoeLoli.ML <urain39@qq.com>
 */

::-webkit-scrollbar {
    width: 18px;
    height: 10px;
}

::-webkit-scrollbar-track,
::-webkit-scrollbar-thumb {
    border-radius: 999px;
    border: 5px solid transparent;
}

::-webkit-scrollbar-track {
    box-shadow: 1px 1px 5px rgba(0, 0, 0, .2) inset;
}

::-webkit-scrollbar-thumb {
    min-height: 20px;
    background-clip: content-box;
    box-shadow: 0 0 0 5px rgba(0, 0, 0, 0.2) inset;
}

::-webkit-scrollbar-corner {
    background: transparent;
}

html, body {
    padding: 0;
    height: 100%;
    /* fix for Firefox */
    overflow-x: hidden !important;
    overflow-y: hidden;
}

.btn {
    background-image: none;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}

.btn-default {
    background-color: #fff;
}

.btn-default:hover, .btn-default:active, .btn-default.active {
    background-color: #f8f8f8;
}

/* override the icons. */
.icon-ok {
    background-image: url('data:image/svg+xml;charset=utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z"/></svg>');
    background-position: 0 0;
    /* fallback for IE9 or older */
    background-image: url("../img/glyphicons-halflings.png") \9;
    background-position: -288px 0 \9;
}

.icon-minus {
    background-image: url('data:image/svg+xml;charset=utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M416 208H32c-17.67 0-32 14.33-32 32v32c0 17.67 14.33 32 32 32h384c17.67 0 32-14.33 32-32v-32c0-17.67-14.33-32-32-32z"/></svg>');
    background-position: 1px 0; /* XXX: fix the icon position */
    /* fallback for IE9 or less */
    background-image: url("../img/glyphicons-halflings.png") \9;
    background-position: -433px -96px \9;
}

#edition-version {
    font-size: 10px;
    padding: 0 0 5px 0;
}
#edition-version * {
    color: #000;
}

#copyright {
    float: none;
    height: 18px;
}
#copyright section {
    padding-top: 10px;
    text-align: center;
}

@media (max-width: 550px) {
    #edition-version {
        text-align: right;
    }

    /* fix for Firefox */
    .task .task-name {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}

/* dashboard */
#head-container {
    height: auto;
    padding: 0 20px 15px 20px;
}

/* main container */
#main-container {
    height: 62%;
    overflow-y: scroll;
    padding: 0 40px 0 40px;
    border-top: 1px solid #AAA;
    border-right: 1px solid #6c6c6c \9;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 3px 3px 5px rgba(10, 10, 10, 0.2) inset;
}
@media (max-width: 550px) {
    #main-container {
        padding: 0 10px 0 12px;
    }
}

/* fix for PC */
@media (min-width: 551px) and (min-height: 636px) {
   #main-container {
       height: 75%;
   }
}

/* fix for Mobile */
@media (orientation: landscape) and (max-height: 360px) {
    #head-container {
        padding-bottom: 10px;
    }
    #main-container {
        height: 42%;
    }
}

/* fix for 480p */
@media (max-width: 320px) {
    .main-head h1 {
        font-size: 24px;
    }
}

/* footer */
#main-footer {
    height: 28px;
    font-size: 13px;
    padding: 13px 40px 0 40px;
    text-align: center;
    border-top: 1px solid #AAA;
    box-shadow: 0 -1px 3px rgba(10, 10, 10, 0.2);
}

/* fix line-wrap(480p) */
@media (max-width: 320px) {
    #main-footer {
        font-size: 11px;
    }
}

#active-tasks, #other-tasks {
    min-height: 40%;
    margin-top: 4%;
}

/* fix for add-task-modal */
#uri-input {
    margin-right: 25px;
}

/* F**K THE SHADOW! */
.radio input[type="radio"] {
    box-shadow: none;
}

/* hide scrollbar */
.modal::-webkit-scrollbar,
.modal-body::-webkit-scrollbar,
html::-webkit-scrollbar, body::-webkit-scrollbar {
    width: 0;
}

/* fix modal height */
@media (max-height: 640px) {
    #add-task-modal, #setting-modal {
        top: 3%;
        bottom: 3%;
        height: 94%;
        margin-top: 0;
        overflow-x: hidden;
        position: absolute;
        transition: 0.1s;
    }

    /* fix transtion */
    .modal.fade input, .modal.fade div, .modal.fade .modal-body {
        opacity: 0;
        filter:alpha(opacity=0);
    }

    .modal.fade.in input, .modal.fade.in div, .modal.fade .modal-body {
        opacity: 1;
        filter:alpha(opacity=1);
    }
    
    .modal-header, .modal-body, .modal-footer {
        margin: 0;
        padding: 10px;
        position: relative;
    }

    .modal-header {
        height: 22px;
    }
    #add-task-modal .modal-header {
        margin-top: -4px;
    }
    #setting-modal .modal-header {
        margin-top: -5px;
    }

    .modal-body {
        height: 78%;
        overflow-y: auto;
        position: relative;
    }

    .modal-footer {
        right: 0;
        bottom: 0;
        width: 100%;
        height: 29px;
        position: absolute;
    }
}

@media (max-height: 360px) {
    .modal-body {
        height: 62%;
    }
}

/*
 * END OF THE MoeLoli.ML EDITION
 */
